
.clear-float:after {
    content: "";
    display: table;
    clear: both;
}

.first-home {
    position: relative;
    background-image: url(../Task1/images/cover.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    padding: 100px 0;
    overflow: auto;
    overflow-x: hidden;
}
.first-home::before{
    position: absolute;
    content: "";
    background-image: linear-gradient(to right, rgba(0,0,0,0.8), rgba(0,0,0,0.8),
    rgba(0,0,0,0.8), rgba(0,0,0,0.8)) ;
    width: 100%;
    height: 100%; 
    top: 0;
    left: 0;
}
.first-home-section-one {
    float: left;
    width: 43%;
    position: relative;
}
.first-home-paragraph {
    padding-left: 40px;
}
.first-home-paragraph h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    font-weight: 500;
    color: #fff;
}
.first-home-paragraph h1 span {
    color: #ed1c24;
}
.first-home-paragraph p {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    padding-right: 20px;
}
.first-home-list {
    max-width: 586px;
    width: 100%;  
    margin: 60px auto 70px 30px;
}
.first-home-list ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-inline-start: 0px;
}
.first-home-list ul li {
    float: left;
    list-style-type: none;
    border: 1px solid #f4f7fa;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color: #f4f7fa;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.first-home-list ul li div {
    text-align: center;
    padding: 15px  0;
    color: #ed1c24;
    font-size: 25px;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48 
}
.first-home-list ul li span {
    margin-top: 17px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #f4f7fa;
}
.first-home-list-two ul li {
    float: left;
    list-style-type: none;
}
.first-home-list-margin {
    margin-right: 73px;
}
.first-home-section-two {
    display: flex;
    align-items: center;
    float: left;
    width: 43%;
    position: relative;
}
.first-home-img {
    max-width: 100%;
    height: auto;
    padding: 0 25px;
    margin-left: 50px;
}

.second-home {
    background-color: #fff;
    font: 15px 'Open Sans', sans-serif;
    color: #707070;
    width: 100%;
    overflow: auto;
    padding: 85px 0;
}
.second-home h1 {
    color: #000 ;
    font: 36.615px 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center;
    /* margin-top: 85px; */
}
.second-home h1 span {
    color: #ed1c24;
}
.second-home p {
    font-size: 20px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-top: 32px;
}
.second-home ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    padding-left: 0px;
}           
.second-home ul li {
    list-style-type: none;
    border: 1px solid #f4f7fa;
    height: 239px;
    box-shadow: 0 3px 20px 0 rgba(0,0,0,0.2);
    border-radius: 24px;
    margin: 45px 20px;
    text-align: center;   
}
.second-home-a {
    font-size: 50px;
    color: #000;
    margin-top: 30px;
    margin-bottom: 20px;
}
.second-home-b{
    display: block;
    font: 18.75px 'Montserrat', sans-serif;
    color: #000;
    font-weight: 600;
}
.second-home-c {
    font: 15px 'Open Sans', sans-serif;
    color: #707070;
}
.col-1 {
    float: left;
    width: 20%;
}
.second-home-hover-one, .second-home-hover-two, .second-home-hover-three,
.second-home-hover-four {
    transition: margin-top 0.25s ;
}
.second-home-hover-one:hover, .second-home-hover-two:hover, .second-home-hover-three:hover,
.second-home-hover-four:hover {
    margin-top: 20px;
}

.third-home {
    background-color: #f4f4f4;
    width: 100%;
    overflow: auto;
    color: #707070;
    font: 15px 'Open Sans', sans-serif; 
}
.third-home-container {
    max-width: 2000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 120px;
}
.third-home-section-one {
    width: 70%; 
    float: left;
}
.third-home-section-one h1 {
    font: 36.615px 'Montserrat', sans-serif;
    font-weight: 600;
    color: #000;
    /* margin-left: 121px; 
    margin-top: 131px; */
}
.third-home-section-one h1 span {
    color: #ed1c24;
}
.third-home-section-one p {
    /* margin-left: 121px; */
    margin-top: 26px;
}
.third-home-list ul li {
    list-style-type: none;
    display: flex;
}
.third-home-list-one {
    float: left;
    border: 1px solid #ed1c24;
    border-radius: 6px;
    background-color: #ed1c24;
    width: 27px;
    height: 22px;
    font-size: 40px;
    margin: 19px 0;
}
.third-home-list-one::after {
    content: '\2713';
    font-size: 15px;
    color: #fff;
    position: relative;
    bottom: 27px;
    left: 6px;
}
.third-home-list-two {
    float: left;
    margin: 19.5px 12px;
    position: relative;
    padding-inline-start: 0;
}

.third-home-section-two-conatiner {
    display: flex;
    align-items: center;
    width: 30%; 
    float: left;
}
.third-home-img {
    max-width: 100%;
    height: auto;
    padding: 25px 0;
}

.forth-home {
    background-color: #fff;
    color: #707070;
    width: 100%;
    overflow: auto;
    font: 15px 'Open Sans', sans-serif; 
}
.forth-home-container {
    max-width: 2000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 70px;
}
.section-one-container {
    width: 40%; 
    float: left;
    display: flex;
    justify-content: center;
    padding: 25px;
}
.forth-home-img {
    max-width: 100%;
    height: auto;
}
.forth-home-section-two {
    width: 60%; 
    float: left;
}
.section-two-container {
    padding: 0 20px;
}
.forth-home-section-two h1 {
    color: #000;
    font: 36.615px 'Montserrat', sans-serif;
    font-weight: 600;
    /* margin-left: 50px; */
}
.forth-home-section-two h1 span {
    color: #ed1c24;
}
.paragraph-two {
    margin-top: 25px;
    /* margin-left: 50px; */
}
.outputOne {
    display: block;
}
.outputTwo, .outputThree, .outputFour {
    display: none;
}
.forth-home-buttons {
    margin-bottom: 80px;
}
.forth-home-buttons ul li {
    list-style-type: none;
    float: left;
    display: flex;
    flex-direction: column;
}
.forth-home-buttons ul li div {
    display: block;
    border: 4px solid #ebebeb;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    /* background-color: #fff; */
    margin: 0 45px;
    margin-top: 20px;
    /* color: #000; */
}
.forth-home-buttons ul li span {
    border-right: 1px solid #ebebeb;
    font: 13px 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: center;
    padding: 0 15px;
}
.forth-home-button-one {
    background-color: #ed1c24;
    color: #fff;
}
.forth-home-button-two, .forth-home-button-three, .forth-home-button-four {
    color: #000;
}
.forth-home-button-one, .forth-home-button-two, .forth-home-button-three, 
.forth-home-button-four {
    text-align: center;
    padding: 12px 0;
    font-size: 32px;
}
.forth-home-button-one:hover, .forth-home-button-two:hover, .forth-home-button-three:hover, 
.forth-home-button-four:hover {
    cursor: pointer;
} 

@media screen and (min-width:1400px) {
    .first-home-container {
        display: flex;
        justify-content: space-between;
        padding: 0 150px;
    }
}
    @media screen and (min-width:900px) and (max-width:1200px) {
    .first-home-section-two {
        height: 54vh;
    }
    .third-home-section-two-conatiner {
        height: 50vh;
    }
    
}
@media screen and (min-width:600px) and (max-width:900px) {
    .first-home-section-one {
        width: 59%;
    }
    .first-home-section-two {
        width: 41%;
        height: 26vh;
    }
    .first-home-img {
        margin-left: 0;
    }
    .second-home {
        padding: 50px 0;
    }
    .col-1 {
        width: 40%;
    }
    .second-home ul li {
        margin: 20px 20px;
    }
    .third-home-container {
        padding: 50px 85px;
    }
    .third-home-section-one {
        width: 100%;
    }
    .third-home-section-two {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .third-home-section-two-conatiner {
        width: 50%;
    }
    .forth-home-container {
        padding: 70px 20px;
    }
    .forth-home-section-one {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .section-one-container {
        width: 50%;
    }
    .forth-home-section-two {
        width: 100%;
    }
}

@media screen and (max-width:600px) {
    .first-home {
        padding: 65px 0;
    }
    .first-home-section-one {
        clear: both;
        width: 100%;
    }
    .first-home-section-two {
        clear: both;
        width: 100%;
    }
    .first-home-list {
        margin-left: auto;
    }
    .first-home-paragraph {
        padding-left: 20px;
    }
    .first-home-img {
        margin-left: 0;
    }
    .first-home-list ul {
        padding-inline-start: 75px;
    }
    .second-home {
        padding: 25px 0;
    }
    .col-1 {
        width: 100%;
    }
    .second-home ul li {
        margin: 20px 20px;
    }
    .third-home-container {
        padding: 25px 20px;
    }
    .third-home-section-one {
        width: 100%;
    }
    .third-home-section-two-conatiner {
        width: 100%;
    }
    .forth-home-container {
        padding: 25px 16px;
    }
    .section-one-container {
        width: 100%;
    }
    .forth-home-section-two {
        width: 100%;
    }
}



.home1, .home2, .home3, .home4, .footer {
    float: left;
}           