
.product {
    background-color: #fff;
    color: #707070;
    width: 100%;
    overflow: auto;
    font: 15px 'Open Sans', sans-serif;
    padding: 155px 0px;
}
.product h1 {
    font: 39.056px 'Montserrat', sans-serif;
    font-weight: 600;
    color: #000;
    text-align: center;
}
.product h1 span {
    color: #ed1c24; 
    font-weight: 700;
}
.product p {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}
.product-container {
    width: 100%;
}
.product-list-float {
    float: left;
    width: 19%;
}
.product-img {
    max-width: 100%;
    height: auto;
}
.product-container ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.product-container ul li {
    list-style-type: none;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    /* width: 253px; */
    height: 425px;
    margin: 40px 20px 0px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}
.product-container ul li span {
    font: 16px 'Montserrat', sans-serif;
    font-weight: 600;
    color: #000;
}
.product-container ul li div  {
    text-align: center;
}
.product-title {
    /* position: relative;
    left: 60px;
    top: 13px; */
    display: flex;
    justify-content: center;
}
.product-price {
    /* position: relative;
    left: 66px;
    top: 13px; */
    display: flex;
    justify-content: center;
}
.old-price {
    font-size: 13px; 
    opacity: 0.5; 
    text-decoration: line-through;
}
.new-price {
    font-size: 18.75px; 
    font-weight: bold;
}
.product-button {
    border: 1px solid #ed1c24;
    border-radius: 4px;
    background-color: #ed1c24;
    color: #fff;
    padding: 8px 25px;
    /* position: relative;
    top: 35px;
    left: 66px; */
    transition: background-color 0.4s, color 0.4s, border-radius 0.4s;
}
.product-button:hover {
    background-color: #fff;
    color: #ed1c24;
    border-radius: 20px;
    cursor:pointer;
}

@media screen and (min-width:600px) and (max-width:900px) {
    .product-list-float {
        width: 32%;
    }
}
@media screen and (max-width:600px) {
    .product-list-float {
        width: 48%;
    }
}

.product, .footer {
    float: left;
}

