
* {
    font: 15px 'Open Sans', sans-serif;
    color: #000;
}
.faq-table {
    margin-top: 150px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #000;
    border-collapse: collapse;
}
th {
    border: 1px solid #000;
    border-collapse: collapse;
    transition: border-bottom 0s;
}
td {
    border: 1px solid #000;
    border-collapse: collapse;
}
th {
    font-size: 18px;
    font-weight: 600;
}
td {
    word-break: normal;
    overflow-wrap: break-word;
}
tr>:nth-child(1) {
    width: 45%;
}
tr>:nth-child(2) {
    width: 45%;
}
tr>:nth-child(3) {
    width: 4%;
}
tr>:nth-child(4) {
    width: 3%;
    text-align: center;
}
tr>:nth-child(5) {
    width: 3%;
    text-align: center;
}
.question-container {
    display: none;
    width: 500px;
    height: 330px;
    border: 1px solid #dee2e6;
    background-color: #fff ;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 50%;
    transform: translate(-50%, -20%);
}
.question-container-1, .question-container-2 {
    margin: 26px 21px;
}
.question-container-1-a, .question-container-2-a {
    font-size: 22px;
    margin-bottom: 10px;
}
.question-container-2-a {
    margin-top: -10px;
}
.question-container-1-b input, .question-container-2-b input {
    font: 15px 'Open Sans', sans-serif;
    width: 100%;
    height: 50px;
    padding-left: 5px;
}
.question-container-1-b label, .question-container-2-b label {
    display: none;
    color: #ed1c24;
    position: absolute;
}
/* .question-container-1-b input:invalid {
    border: 2px solid #ed1c24;
} */
.add-faq {
    background-color: #2d2828;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 9px;
    padding: 2px 7px;
    transition: background-color 0.5s, color 0.5s,
                border 0.5s;
}
.add-faq:hover {
    background-color: #fff;
    color: #2d2828;
    border-color: #2d2828;
    cursor: pointer;
}
.edit-faq {
    background-color: #2d2828;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 9px;
    padding: 2px 6px;
    transition: background-color 0.5s, color 0.5s,
                border 0.5s;
}
.edit-faq:hover {
    background-color: #fff;
    color: #2d2828;
    border-color: #2d2828;
    cursor: pointer;
}
.remove-faq {
    background-color: #fff;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 9px;
    padding: 0;
    transition: background-color 0.5s, color 0.5s,
                border 0.5s; 
}
.remove-faq:hover {
    background-color: #fff;
    color: #ed1c24;
    border-color: #ed1c24;
    cursor: pointer;
}
.add-to-table {
    background-color: #ed1c24;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 0px;
    padding: 10px 23px;
    transition: background-color 0.5s, color 0.5s, border-raduis 0.5s,
                border 0.5s;
    position: relative;
    top: -24px;
    left: 401px;
}
.add-to-table:hover {
    background-color: #fff;
    color: #ed1c24;
    border-color:#ed1c24;
    border-radius: 4px;
    cursor: pointer;
}
.edit-table {
    background-color: #ed1c24;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 0px;
    padding: 10px 12px;
    transition: background-color 0.5s, color 0.5s, border-raduis 0.5s,
                border 0.5s;
    position: relative;
    top: -24px;
    left: 401px;
}
.edit-table:hover {
    background-color: #fff;
    color: #ed1c24;
    border-color:#ed1c24;
    border-radius: 4px;
    cursor: pointer;
}
.close-adding {
    background-color: #ed1c24;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 0px;
    padding: 10px 19px;
    transition: background-color 0.5s, color 0.5s, border-raduis 0.5s,
                border 0.5s;
    position: relative;
    top: 18px;
    left: 308px;
}
.close-adding:hover {
    background-color: #fff;
    color: #ed1c24;
    border-color:#ed1c24;
    border-radius: 4px;
    cursor: pointer;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 7
    
  }
.button-color {
    color: #ed1c24;
}
.my-select {
    background-color: #ed1c24;
    color: #fff;
    border: 1px solid #ed1c24;
    position: relative;
    bottom: 65px;
    left: 30px;
    padding: 7px 2px;
}
.myOption {
    background-color: #fff;
    color: #ed1c24;
    border: 1px solid #ed1c24;
}
.my-select:hover, .myOption:hover {
    cursor: pointer;
}

.delete-validation {
    display: none;
    width: 320px;
    text-align: center;
    border: 1px solid #dee2e6;
    background-color: #fff ;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
}

.approve-validation {
    background-color: #ed1c24;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 4px 10px;
    transition: background-color 0.5s, color 0.5s, border-raduis 0.5s,
                border 0.5s;
    position: relative;
    bottom: 9px;
    left: 58px;
}
.approve-validation:hover {
    background-color: #fff;
    color: #ed1c24;
    border-color:#ed1c24;
    border-radius: 4px;
    cursor: pointer;
}
.close-validation {
    background-color: #ed1c24;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 4px 12px;
    transition: background-color 0.5s, color 0.5s, border-raduis 0.5s,
                border 0.5s;
    position: relative;
    bottom: 9px;
    right: 49px;
}
.close-validation:hover {
    background-color: #fff;
    color: #ed1c24;
    border-color:#ed1c24;
    border-radius: 4px;
    cursor: pointer;
} 

